body {
    font-family: Arial, sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// Visually hide content, but leave it exposed to assistive tech.
.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    overflow: hidden;
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

.skill-list {
    width: 500px;
}

.skill {
    margin: 1px 0 0 0;
    padding: 10px;
    border: 1px solid #999;
    overflow: auto;
    background-color: #fff;
    &:first-child {
        margin-top: 0;
    }
}

.skill-name {
    float: left;
}

.drag-handle {
    position: relative;
    float: right;
    cursor: move;
    &::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.skill-action {
    position: relative;
    // Upward and downward pointing triangle graphic.
    &::before,
    &::after {
        display: none;
        content: " ";
        position: absolute;
        left: 50%;
        margin-left: -4px;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-width: 4px;
    }
    // Upward pointing triangle.
    &::before {
        top: -10px;
        border-bottom-color: #000;
    }
    // Downward pointing triangle.
    &::after {
        bottom: -10px;
        border-top-color: #000;
    }
    .active:not(:first-child) &::before,
    .active:not(:last-child) &::after {
        display: block;
    }
}

.skill-icon {
    display: block;
    width: 12px;
    height: 10px;
    margin: 4px 0;
    position: relative;
    &::before,
    &::after {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        border-width: 2px 0;
        border-style: solid;
        border-color: dimgrey;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
}

[draggable="true"],
.active {
    border-color: fuchsia;
}